/* modules */

.form-free
  padding-top: 43px
  padding-bottom: 13px
  background:
    position: top center
    repeat: no-repeat
    size: cover
    image: url('../img/bg-section1.png')
  min-height: 180px
  max-width: 1840px
  position: relative
  overflow: hidden
  border-radius: 5px
  margin: 0 auto
  p
    font-family: $font-sansation-r
    line-height: 28px
    font-size: 18px
    &:last-child
      margin: 0
    strong
      font-family: $font-sansation-b
  &__title
    font-size: 30px
    font-family: $font-sansation-b
    text-transform: uppercase
    line-height: 1
    margin-bottom: 20px
    white-space: nowrap
  &__wrapper
    display: flex
    padding: 0 40px
    justify-content: space-between
    &>div
      &+div
        margin-left: 40px
  &__form
    display: flex
    &>div
      width: 257px
      &+div
        margin-left: 40px

.welcome
  padding-top: 70px
  padding-bottom: 0
  &__wrapper
    position: relative
    padding-left: 292px
    padding-right: 292px
    min-height: 450px
  &__img
    position: absolute
    left: -48px
    bottom: 0
  &__content
    height: 305px
    position: relative
    overflow: hidden
    font-size: 13px
    margin-bottom: 20px
    &::after
      height: 50px
      position: absolute
      content: ''
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(to top, $color-white, rgba($color-white, 0))
    p
      line-height: 20px
      &:last-child
        margin-bottom: 0
  &__introtext
    font-size: 17px
    line-height: 21px
    font-family: $font-sansation-r
  &__more
    position: relative
    font-size: 13px
    padding-bottom: 30px
    p
      span
        font-size: 15px
        text-transform: uppercase
    img
      position: absolute
      top: 0
      left: 326px
  &__carousel
    position: absolute
    right: 0
    top: 0
    border: 1px solid #e5e5e5
    border-radius: 5px
    background: $color-white
    padding: 23px 11px 0 11px
    width: 262px
    .slick-slide
      outline: none
      &:focus
        outline: none
    &-top
      margin: 0
      padding: 0
      overflow: hidden
      border-radius: 5px
      li
        list-style: none
        margin: 0
    &-bottom
      margin: 50px 0 30px 0
      padding: 0 7px
      font-size: 11px
      font-style: italic
      position: relative
      color: #777777
      li
        list-style: none
        margin: 0
      .slick-dots
        position: absolute
        left: 0
        right: 0
        text-align: center
        bottom: 50px
        li
          width: auto
          padding: 0 3px
          height: auto
          vertical-align: middle
          button
            border: 1px solid #dbdbdb
            width: 11px
            height: 11px
            padding: 0
            border-radius: 50%
            background: $color-white
            &::before
              display: none
          &.slick-active
            button
              background: $color-blue
              border-color: $color-blue

.stones
  padding-top: 52px
  padding-bottom: 62px
  &__wrapper
    position: relative
    padding-left: 292px
    min-height: 292px
  &__carousel
    position: absolute
    left: 0
    top: 0
    border: 1px solid #e5e5e5
    border-radius: 5px
    background: $color-white
    padding: 9px
    width: 262px
    .slick-slide
      outline: none
      &:focus
        outline: none
    &-top
      margin: 0
      padding: 0
      border-radius: 5px
      li
        list-style: none
        margin: 0
      .slick-dots
        position: absolute
        left: 0
        right: 0
        text-align: center
        bottom: -26px

  &__content
    font-size: 13px
    p
      line-height: 20px
    &-title
      text-transform: uppercase
      font-size: 20px
      font-family: $font-sansation-r
      line-height: 26px
      margin-bottom: 20px
      strong
        font-size: 25px
        display: block

.slick-dots
  li
    width: auto
    padding: 0 3px
    height: auto
    vertical-align: middle
    margin: 0
    button
      border: 1px solid #dbdbdb
      width: 11px
      height: 11px
      padding: 0
      border-radius: 50%
      background: $color-white
      &::before
        display: none
    &.slick-active
      button
        background: $color-blue
        border-color: $color-blue

.video-responsive
  position: relative
  padding-bottom: 218px
  iframe
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    width: 100%
    height: 100%

.section
  &__carousel
    position: relative
    &-body
      margin-bottom: 0 !important
      &--3
        margin-bottom: 30px !important
    .slick-slide
      outline: none
      &:focus
        outline: none
    &-head
      font-size: 25px
      text-transform: uppercase
      font-family: $font-sansation-b
      border-bottom: 1px solid #edeff1
      margin-bottom: 23px
    .slick-dots
      position: absolute
      right: 0
      top: 0
      bottom: auto
      margin-top: -53px
      text-align: right
    .popup-youtube
      margin-bottom: 10px
      display: block
      &+p
        font-size: 11px
        line-height: 15px
        margin: 0
    &-question
      margin-bottom: 20px
      p
        display: inline
        margin-bottom: 0px
        color: $color-blue
        border-bottom: 1px dashed $color-blue
        font-family: $font-sansation-b
        font-size: 13px
        cursor: pointer
        line-height: 15px
        &:hover
          border-bottom-color: transparent
      time
        display: block
        font-size: 11px
        padding-top: 5px
        font-style: italic
      blockquote
        font-size: 13px
        display: none
        margin-top: 15px
        padding: 0 0 0 20px
        border-left: 2px solid $color-blue
        font-style: italic
    &-all
      text-transform: uppercase
      text-decoration: none
      font-size: 13px
      font-family: $font-roboto-m
      &:hover
        text-decoration: underline
      i
        margin-left: 10px
        font-size: 10px
        vertical-align: 1px
    &-comment
      position: relative
      height: 182px
      padding-left: 24px
      overflow: hidden
      margin-right: 30px
      &::before
        content: ''
        position: absolute
        left: 0
        top: 0
        bottom: 0
        width: 2px
        background: #232323
      &>a
        position: absolute
        left: 0px
        top: 0
        right: 0
        bottom: 0
        text-decoration: none
        padding-left: 10px
        &::before
          position: absolute
          bottom: 17px
          left: 0
          transform: translateX(-50%) rotate(-45deg)
          border: 2px solid #232323
          background: $color-white
          z-index: 10
          content: ''
          width: 14px
          height: 14px
          border-radius: 2px
        .ion-arrow-expand
          position: absolute
          right: 5px
          top: 11px
          font-size: 20px
          color: $color-blue
          line-height: 1
        &>span
          position: absolute
          left: 2px
          right: 0
          padding: 40px 0 0 32px
          bottom: 0
          // height: 50px
          display: block
          background: linear-gradient(to top, $color-white 45px, rgba($color-white,0))

          strong
            display: block
            font-size: 13px
            font-family: $font-roboto-r
            line-height: 1
            margin-bottom: 7px
          time
            font-size: 11px
            color: $primary-color
            font-style: italic
            line-height: 1
            display: block

.form-email
  padding-top: 43px
  padding-bottom: 10px
  background:
    position: top center
    repeat: no-repeat
    size: cover
    image: url('../img/bg-section2.png')
  min-height: 180px
  max-width: 1840px
  position: relative
  overflow: hidden
  border-radius: 5px
  margin: 0 auto
  p
    font-family: $font-sansation-r
    line-height: 24px
    font-size: 16px
    &:last-child
      margin: 0
    strong
      font-family: $font-sansation-b
  &__title
    font-size: 30px
    font-family: $font-sansation-b
    text-transform: uppercase
    line-height: 1
    margin-bottom: 20px
    white-space: nowrap
    color: $color-blue
  &__wrapper
    display: flex
    padding: 0 190px 0 165px
    justify-content: space-between
    &>div
      &+div
        margin-left: 40px
  &__form
    display: flex
    padding-top: 30px
    &>div
      width: 257px
      &+div
        margin-left: 40px
    .form__group
      margin-bottom: 20px
      &:last-child
        margin-bottom: 0
