doctype

html(lang="ru")
  
  -var active = 'Доктора' //активный пункт меню, список в header.jade
  -var pageTitle = 'Доктора' + ' - медицинский центр Chiao' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    +breadcrumbs
    
    .content
      .container
        
        .content__head
          h1 Доктора
        
        .doctor
          .doctor__row
            .row
              .col-sm-3.col-sm-push-9
                .doctor__img
                  img(src="./img/doctor-img-1.png", alt="").img-responsive
                  .doctor__img-content
                    div
                      b 1975
                      span ГОД НАЧАЛА ВРАЧЕБНОЙ ПРАКТИКИ
                    div
                      b 2009
                      span ГОД НАЧАЛА РАБОТЫ В клинике
                    
              .col-sm-9.col-sm-pull-3
                .doctor__title Иванов Иван Иванович
                .doctor__untitle ВРАЧ-РЕНТГЕНОЛОГ, ПРОФЕССОР (ИЗРАИЛЬ)
                
                .doctor__table
                  .doctor__table-content
                    p Зам. мед. директора по лучевой и изотопной диагностике, главный специалист по диагностике онкологических заболеваний и биопсиям под контролем клиники.
                    
                  .doctor__table-head ОПЫТ РАБОТЫ
                  .doctor__table-content
                    p В 1985 г. был внештатным научным сотрудником госпиталя «Royal Marsden» и Института рака в Саттоне (Англия).
                    p Параллельно Евгений Либсон принимает активное участие в работе других научных и исследовательских учреждений. С 1996 г. по 2006 г. занимал должность профессора радиологии на кафедре радиологии Университетского госпиталя Томаса Джефферсона (Филадельфия, США).
                    p В 1991 и 1999 годах был отмечен наградой за высокий уровень преподавания Университетским госпиталем Томаса Джефферсона и Университетским госпиталем «Хадасса». В 2002 и 2005 годах награжден Похвальной грамотой за вклад в развитие медицины Израиля (Научный совет медицинской ассоциации Израиля).
                    p С 2001-2007 гг. – председатель экзаменационной комиссии по радиологии при Научном совете медицинской ассоциации Израиля.
                    
                  .doctor__table-head НАУЧНЫЕ ПУБЛИКАЦИИ И ТРУДЫ
                  .doctor__table-content
                    p Опубликовал более 100 научных работ в европейских, израильских и американских научных журналах.
          .doctor__row
            .row
              .col-sm-3.col-sm-push-9
                .doctor__img
                  img(src="./img/doctor-img-2.png", alt="").img-responsive
                  .doctor__img-content
                    div
                      b 1999
                      span ГОД НАЧАЛА ВРАЧЕБНОЙ ПРАКТИКИ
                    div
                      b 2015
                      span ГОД НАЧАЛА РАБОТЫ В клинике
                    
              .col-sm-9.col-sm-pull-3
                .doctor__title Shan Weng
                .doctor__untitle ВРАЧ АНЕСТЕЗИОЛОГ-РЕАНИМАТОЛОГ
                .doctor__table
                  .doctor__table-content
                    p Окончила 2-ой МОЛГМИ им. Н.И. Пирогова в 1986 году по специальности лечебное дело, субординатуру по хирургии. Интернатуру по специальности анестезиология-реаниматология проходила на базе 4 ГКБ. В многопрофильной ГКБ им. С.П. Боткина закончила 2-годичную ординатуру по специальности «Анестезиология и реанимация». Специализация по детской анестезиологии на базе 7 ГКБ.
                    
                  .doctor__table-head ОПЫТ РАБОТЫ
                  .doctor__table-content
                    p В течение 14 лет работала анестезиологом-реаниматологом в многопрофильной клинической больнице им. С.П. Боткина. Работала анестезиологом-реаниматологом в клинике экстракорпорального оплодотворения. Преподавала по специальности анестезиология и реаниматология на кафедре реабилитации и ухода института усовершенствования врачей для сестер–анестезистов.
                    p Участник конференций и международных конгрессов по актуальным вопросам анестезиологии и лечения боли.
                    p Владеет методиками выполнения лечебных и анальгетических блокад под УЗИ контролем. 
                    p Владеет всеми современными методиками анестезии, предоперационной подготовки и послеоперационного ведения пациентов в экстренной и плановой хирургии, урологии, гинекологии, травматологии, нейрохирургии, отоларингологии, эндоскопической хирургии, стоматологии, гнойной хирургии, офтальмологии.
    
    +form-email
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
