doctype

html(lang="ru")
  
  -var active = 'Текстовая страница' //активный пункт меню, список в header.jade
  -var pageTitle = 'Текстовая страница' + ' - медицинский центр Chiao' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    +breadcrumbs
    
    .content
      .container
        .row
          .col-sm-8
            .content__head
              h1 текстовая страница  --  Удаление камней и полипов из желчного пузыря 
              p.content__introtext С помощью высокотехнологичных приспособлений – холедохофибероскопа, твердого холедохоскопа, лапароскопа и другого оборудования, в области нижней реберной дуги делается надрез 1,5 – 2см для входа в брюшную полость. Затем при помощи мини лапароскопа 5мм изучают общее положение органов брюшной полости, а также положение желчного пузыря, его размеры, отсутствие спайки тканей и абнормальных новообразований.
              
            p Под видеонаблюдением основание желчного пузыря подтягивают к месту операции. В основании желчного пузыря делают надрез 0,5- 1см, через который предварительно изучают состояние желчи и толщину стенок желчного пузыря. Далее через этот надрез вводят запатентованную 2F тонкую трубку, которую закрепляют кисетным швом. Поскольку трубка достаточно мягкая, она может изгибаться в разных направлениях, не повреждая при этом холедохоскоп.
            p Холедохоскоп по трубке вводят в&nbsp;<strong>желчный пузырь</strong>, что ускоряет время проведения&nbsp;операции&nbsp;и позволяет избежать повреждения стенок&nbsp;желчного пузыря холедохоскопом. Кисетный шов также фиксирует трубку, что предотвращает вытекание&nbsp;желчи&nbsp;в брюшную полость и раздражение брюшины. 
            p Комплексное использование мягкого и твердого холедохоскопов дает представление о слизистой оболочке<strong>&nbsp;</strong>желчного пузыря, количестве&nbsp;полипов&nbsp;и камней&nbsp;в&nbsp;желчном пузыре, их размере и местоположении. С помощью эндоскопической сетки извлекаются&nbsp;камни, а&nbsp;полипы&nbsp;удаляются щипцами. 
            p Крупные камни и камни, находящиеся в протоке желчного пузыря, для изъятия дробят щипцами или посредством пневматической литотрипсии.
            
          .col-sm-4
            .visible-xs
              .clear35
                
            .welcome__carousel.welcome__carousel--documentText
              ul.welcome__carousel-top.gallery
                li
                  a(href="./img/document-slider1.png").gallery-item
                    img(src="./img/document-slider1.png", alt="").img-responsive
                li
                  a(href="./img/document-slider1.png").gallery-item
                    img(src="./img/document-slider1.png", alt="").img-responsive
                li
                  a(href="./img/document-slider1.png").gallery-item
                    img(src="./img/document-slider1.png", alt="").img-responsive
                li
                  a(href="./img/document-slider1.png").gallery-item
                    img(src="./img/document-slider1.png", alt="").img-responsive
                li
                  a(href="./img/document-slider1.png").gallery-item
                    img(src="./img/document-slider1.png", alt="").img-responsive
              ul.welcome__carousel-bottom
                li С помощью высокотехнологичных приспособлений – холедохофибероскопа, твердого холедохоскопа, лапароскопа и другого оборудования, в области нижней реберной дуги делается надрез 1,5 – 2см для входа в брюшную полость. 
                li С помощью высокотехнологичных приспособлений – холедохофибероскопа, твердого холедохоскопа, лапароскопа и другого оборудования, в области нижней реберной дуги делается надрез 1,5 – 2см для входа в брюшную полость. 
                li С помощью высокотехнологичных приспособлений – холедохофибероскопа, твердого холедохоскопа, лапароскопа и другого оборудования, в области нижней реберной дуги делается надрез 1,5 – 2см для входа в брюшную полость. 
                li С помощью высокотехнологичных приспособлений – холедохофибероскопа, твердого холедохоскопа, лапароскопа и другого оборудования, в области нижней реберной дуги делается надрез 1,5 – 2см для входа в брюшную полость. 
                li С помощью высокотехнологичных приспособлений – холедохофибероскопа, твердого холедохоскопа, лапароскопа и другого оборудования, в области нижней реберной дуги делается надрез 1,5 – 2см для входа в брюшную полость. 
    
    +form-email
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
    script().
      $(document).ready(function(){
        $('.header__nav-desctop ul > li:nth-child(7)').addClass('active');
        $('nav.content__nav li:nth-child(1)').addClass('active');
      })
