doctype

html(lang="ru")
  
  -var active = 'Главная' //активный пункт меню, список в header.jade
  -var pageTitle = 'Главная' + ' - медицинский центр Chiao' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    .main-slider
      .main-slider__wrapper
        .main-slider__carousel
          div
            .main-slider__block
              picture.main-slider__block-img
                source(media='(max-width: 320px)', srcset='./img/main-slider/slide-1-320.png')
                source(media='(max-width: 480px)', srcset='./img/main-slider/slide-1-480.png')
                source(media='(max-width: 750px)', srcset='./img/main-slider/slide-1-750.png')
                source(media='(max-width: 970px)', srcset='./img/main-slider/slide-1-970.png')
                img(src='./img/main-slider/slide-1-1170.png', alt='')
              .main-slider__block-info Удаление желчных камней и полипов
              .main-slider__block-content
                .div1 Предложение является единственным в мире!
                .div2 Удаление желчных камней и полипов 
                .div3 из желчного пузыря
                .div4
                  span без удаления 
                .div5 желчного пузыря
                .div6 // Сохраните желчный пузырь и живите полноценной жизнью
                .div7-btn
                  div
                    a(href="#!").btn.btn--block Запись на консультацию
                  div
                    a(href="#!").btn.btn--block Запись на лечение
                
          div
            .main-slider__block
              picture.main-slider__block-img
                source(media='(max-width: 320px)', srcset='./img/main-slider/slide-2-320.png')
                source(media='(max-width: 480px)', srcset='./img/main-slider/slide-2-480.png')
                source(media='(max-width: 750px)', srcset='./img/main-slider/slide-2-750.png')
                source(media='(max-width: 991px)', srcset='./img/main-slider/slide-2-970.png')
                img(src='./img/main-slider/slide-2-1170.png', alt='')
              .main-slider__block-info.main-slider__block-info--2 Удаление желчных камней и полипов
              .main-slider__block-content.main-slider__block-content--2
                .div1.div1--2 Предложение является уникальным в мире!
                .div2.div2--2 команда высококлассных специалистов 
                .div3.div3--2 проводит в г.Гуанчжоу
                .div4.div4--2
                  span операцию без удаления
                .div5.div5--2 камней с желчного пузыря
                .div6.div6--2.hidden-xs // Сохраните желчный пузырь - не нарушайте целостность организма
                .div6.div6--2.visible-xs //   Сохраните желчный пузырь и живите полноценной жизнью
                .div7-btn.div7-btn--2
                  div
                    a(href="#!").btn.btn--block Запись на консультацию
                  div
                    a(href="#!").btn.btn--block Запись на лечение
      .main-slider__date
        i.ion-ios-calendar
        | Ближайшие свободные даты приезда на операцию:
        strong 8, 9, 14, 15  
          small мая
    
    .content.no--p
      
      .section.advantages.hidden-xs
        .container
          .advantages__row.row
            .col-sm-4
              .advantages__block
                i.advantages__block-icon1
                .advantages__block-content
                  strong Надежность и безопасность операции
                  span Самое современное высокотехнологичное операционное оборудование и медицинские устройства ведущих мировых производителей, доступные в очень узкому кругу специалистов. 
            .col-sm-4
              .advantages__block
                i.advantages__block-icon2
                .advantages__block-content
                  strong Быстрое восстановление после операции
                  span Лечение в соответствии с международными протоколами с доказанной эффективностью, принятыми в ведущих клиниках Европы и США.
            .col-sm-4
              .advantages__block
                i.advantages__block-icon3
                .advantages__block-content
                  strong Мониторинг здоровья и состояния пациентов
                  span Мониторинг здоровья и состояния пациентов в течение нескольких лет после операции.
      
      .section.welcome
        .container
          
          .welcome__wrapper
            img.welcome__img(src="./img/welcome-man.png", alt="")
            
            .welcome__content
              h1 ДОбро пожаловать
              p.welcome__introtext Институт заболеваний желчного пузыря Научно-исследовательского центра гепатобилиарной и кишечной хирургии Министерства здравоохранения КНР. 
              p Глава Института заболеваний желчного пузыря Научно-исследовательского центра гепатобилиарной и кишечной хирургии Министерства здравоохранения КНР. Член общества эндоскопии при китайской медицинской ассоциации. Экспертный член технологий эндоскопии отделения общей хирургии общества эндоскопии при китайской медицинской ассоциации. Изобретатель эндоскопов.
              p Заведующий образовательной базой эндоскопических технологий диагностики и лечения отделения общей хирургии Министерства здравоохранения КНР. 
              p Глава Научно-исследовательского института болезней желчного пузыря. Член группы лапароскопических исследований отделения минимально-инвазивной хирургии медицинской ассоциации.
              p Редактор журналов «Эндоскопия Китая», «Современная медицина Китая», «Биомедицинская инженерия Китая».
            .welcome__more
              p
                strong Лечение ведет профессор с мировым именем
                  br
                  span Доктор Чао Те
              img(src="./img/welcome-signature.png", alt="")
              a(href="#!").btn.btn--small Подробнее
              
            .welcome__carousel
              ul.welcome__carousel-top.gallery
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
              ul.welcome__carousel-bottom
                li С входа в клинику, Вас встретит большой стенд с названием клиники и ее слоганом.
                li С входа в клинику, Вас встретит большой стенд с названием клиники и ее слоганом.
                li С входа в клинику, Вас встретит большой стенд с названием клиники и ее слоганом.
                li С входа в клинику, Вас встретит большой стенд с названием клиники и ее слоганом.
                li С входа в клинику, Вас встретит большой стенд с названием клиники и ее слоганом.
            
      .section.form-free
        .container
          
          .form-free__wrapper
            div
              .form-free__title бесплатная консультация
              p Уникальное и качественное в мире предложение! 
                br
                strong Не упустите возможность излечится!
            div
              form.form-free__form(action="#")
                div
                  .form__group.has-feedback
                    label.hidden Ваше имя
                    input(type="text" placeholder="Ваше имя").form__control
                    i.ion-alert-circled
                  .form__group.has-feedback
                    label.hidden Телефон
                    input(type="text" placeholder="Телефон").form__control
                    i.ion-alert-circled
                div
                  .form__group
                    button(type="button").btn.btn--block Запись на консультацию
                  .form__group
                    button(type="button").btn.btn--block Запись на лечение

      .section.stones
        .container
          
          .stones__wrapper
            .stones__carousel
              ul.stones__carousel-top.gallery
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
                li
                  a(href="./img/welcome-carousel.png").gallery-item
                    img(src="./img/welcome-carousel.png", alt="").img-responsive
            
            .stones__content
              .stones__content-title Удаление камней и полипов из желчного пузыря 
                strong без удаления желчного пузыря

              p Наш Институт изучения заболеваний желчного пузыря Научно-исследовательского центра гепатобилиарной и кишечной хирургии Министерства здравоохранения КНР является единственным в мире разработчиком оборудования для проведения минимально- инвазивных операций нового типа по удалению камней из желчного пузыря и по удалению полипов из желчного пузыря и его протоков без удаления желчного пузыря.
              p Уникальное оборудование для проведения минимально-инвазивных операций на желчном пузыре разработано и запатентовано в Китае, произведено в Германии.
              a(href="#!").btn.btn--small Подробнее
    
      .section.no--p-top
        .container
          
          .row
            .col-md-8
              .section__carousel
                .section__carousel-head вопросы
                .section__carousel-body.section__carousel-body--1
                  div
                    .section__carousel-question
                      p Можно ли выезжать на операцию, если на момент обращения присутствуют боли или воспаление в желчном?
                      time 10.04.2017
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                    .section__carousel-question
                      p Через сколько дней после операции можно выходить на работу?
                      time 08.04.2016
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                    .section__carousel-question
                      p Возможно ли приехать на операцию самостоятельно, без родственников?
                      time 30.12.2015
                      blockquote.show Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                  div
                    .section__carousel-question
                      p Можно ли выезжать на операцию, если на момент обращения присутствуют боли или воспаление в желчном?
                      time 10.04.2017
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                    .section__carousel-question
                      p Через сколько дней после операции можно выходить на работу?
                      time 08.04.2016
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                    .section__carousel-question
                      p Возможно ли приехать на операцию самостоятельно, без родственников?
                      time 30.12.2015
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                  div
                    .section__carousel-question
                      p Можно ли выезжать на операцию, если на момент обращения присутствуют боли или воспаление в желчном?
                      time 10.04.2017
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                    .section__carousel-question
                      p Через сколько дней после операции можно выходить на работу?
                      time 08.04.2016
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                    .section__carousel-question
                      p Возможно ли приехать на операцию самостоятельно, без родственников?
                      time 30.12.2015
                      blockquote Вы можете приехать на операцию без сопровождающего лица. В таких случаях, после операции к пациенту приставляют медсестру, также над кроватью есть круглосуточная кнопка вызова медперсонала. Стоимость операции не меняется.
                a(href="#!").section__carousel-all
                  | Все вопросы
                  i.ion-chevron-right
              
              .visible-sm.visible-xs
                .clear40
              
            .col-md-4
              .section__carousel
                .section__carousel-head видео
                .section__carousel-body.section__carousel-body--2
                  div
                    a(href="https://www.youtube.com/watch?v=lq-ZdDGgwgI").popup-youtube
                      img(src="./img/video-slider.png", alt="").img-responsive
                    p Евгений, операция удаление полипов в желчном пузыре без удаления желчного пузыря
                  div
                    a(href="https://www.youtube.com/watch?v=lq-ZdDGgwgI").popup-youtube
                      img(src="./img/video-slider.png", alt="").img-responsive
                    p Евгений, операция удаление полипов
                  div
                    a(href="https://www.youtube.com/watch?v=lq-ZdDGgwgI").popup-youtube
                      img(src="./img/video-slider.png", alt="").img-responsive
                    p Евгений, операция удаление полипов в желчном пузыре без удаления желчного пузыря
                  
      .section.no--p-top
        .container
          
          .section__carousel
            .section__carousel-head отзывы пациентов
            .section__carousel-body.section__carousel-body--3.gallery
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
              div
                .section__carousel-comment
                  a(href="./img/comment-slider.png").gallery-item
                    img(src="./img/comment-slider.png", alt="").img-responsive
                    i.ion-arrow-expand
                    span
                      strong Екатерина, 42 года
                      time 10.04.2017                      
            a(href="#!").section__carousel-all
              | Все отзывы
              i.ion-chevron-right
      
      +form-email    
      
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
