doctype

html(lang="ru")
  
  -var active = 'Цена' //активный пункт меню, список в header.jade
  -var pageTitle = 'Цена' + ' - медицинский центр Chiao' //title страницы для генерации верстки  

  include ./_include/_head

  body
    
    // Preloader
    include ./_include/_preloader
    
    include ./_include/_header
    
    +breadcrumbs
    
    .content
      .container
        
        .content__head
          h1 Цена
          
        .row
          .col-sm-8
            
            .content__info 
              i.ion-alert-circled
              | C 5 – 12 июня 2018г. в г.Москва будут проводиться бесплатные консультации по операции
            
            h2 Удаление камней и полипов из желчного пузыря с сохранением желчного пузыря
            h3
              strong.color--blue Стоимость операции в мае 2018г. составляет 41 200 юаней (~ $6600 – 6900)
            p
              strong Внимательно прочитайте, что входит в стоимость операции
            
            ul.list
              li Встреча в аэропорту, трансфер из аэропорта в больницу и обратно
              li Предоставление отдельной палаты для пациента и сопровождающего лица (2 кровати)
              li Предоставление 3-х раз. питания пациенту и его сопровождающему во время пребывания в медцентре 
              li Проведение лабораторных и диагностических обследований перед операцией:
                ol.list
                  li Анализ крови (общий и биохимия)
                  li УЗИ всех органов брюшной полости
                  li Электрокардиограмма, Эхокардиография
                  li Компьютерная Томография брюшной полости
                  li Рентген легких
                  li Анализы кала, мочи
                  li Проведение операции по удалению конкрементов (камней и полипов) из желчного пузыря с сохранением органа
                  li Предоставление всех необходимых лекарственных препаратов во время и после операции
                  li Оказание сопутствующих услуг в период послеоперационного восстановления в медцентре
                  li Исследование состава камней; двойной тест на злокачественность полипов
                  li Авиабилеты и визы не входят в стоимость операции.
            p
              strong Авиабилеты и визы не входят в стоимость операции.
            p
              strong Стоимость однократной туристической визы на 30 дней от 4500 руб.
            
            h2 Для поездки на операцию в мае 2018г.
            ul.list
              li Заполнить Карту пациента на странице “Запись на консультацию”
              li Прикрепить УЗИ желчного пузыря (фото + описание врача) в Карту пациента или прислать отдельно на почту
              li Получить разрешение (письмо) от врачей (китайских) о допуске к операции
              li Приобрести авиабилеты в г.Гуанчжоу (предварительно согласовав дату прилета)
              li Сделать визы (от 3 до 10 дней – в зависимости от города)
              li Прислать копии билетов и виз на e-mail: 
                a(href="mailto:") info@kamneynet.com
              li При наличии противопоказаний в проведении операции будет отказано.
            
            h4 БЛИЖАЙШИЕ ДАТЫ ПРИЕЗДА:
            .content__arrival
              div
                span 15 мая
                span 16 мая
                span 5 июня
                span 6 июня
                span 12 июня
                span 3 июля
                span 4 июля
                span 10 июля
            p Информация по датам регулярно обновляется. Для покупки билетов 
              a(href="#!") напишите письмо
              | &nbsp; (или позвоните) с подходящей вам датой и временем прилета в Гуанчжоу.
            .content__info.content__info--big
              i.ion-alert-circled
              | Авиабилеты не входят в стоимость операции и оплачиваются пациентом самостоятельно (перед покупкой билетов дата предварительно согласовывается)
            p
              strong Внимание! 
              | Врачи не консультируют и не организовывают отдых и шоппинг в Гуанчжоу. По данным вопросам обращайтесь пожалуйста в туристические компании или к частным гидам.
            
          .col-sm-4
            .visible-xs
              .clear35
                
            nav.content__nav
              ul
                li: a(href="#!") стоимость удаления камней
                li: a(href="#!") стоимость удаления полипов
    
    +form-email
    
    include ./_include/_footer
    //- div(style="height: 1000px; background-color: #000")
    
    //[if gte IE 9]
      <script src='./js/libs/html5shiv/es5-shim.min.js'>
      <script src='./js/libs/html5shiv/html5shiv.min.js'>
      <script src='./js/libs/html5shiv/html5shiv-printshiv.min.js'>
      <script src='./js/libs/html5shiv/respond.min.js'><![endif]

    // Load Scripts
    script(src="./js/libs.js")
    include ./_include/_footer-js
    script(src="./js/common.js")
    
    script().
      $(document).ready(function(){
        $('.header__nav-desctop ul > li:nth-child(7)').addClass('active');
        $('nav.content__nav li:nth-child(1)').addClass('active');
      })

  
