// Footer
footer.footer
  .container
    
    .footer__top
      .row
        .col-md-3
          .footer__logo
            img(src="./img/logo.png", alt="")
            p Удаление камней и полипов из желчного пузыря с сохранением органа
          address ПН-ПТ с 8 — 19ч по Гуанчжоу
            br
            | Тел: +86 136 2288 6224 (и what’s app)
            br
            | Тел: +7 994 000 6797 (г. Москва)
            br
            | e-mail: info@kamneynet.com
          
        .col-md-3
          ul.footer__menu
            li:a(href="#!") Удаление камней
            li:a(href="#!") Удаление полипов
            li:a(href="#!") О келинике 
            li:a(href="#!") Об операции
            li:a(href="#!") Как проходит лечение
            li:a(href="#!") Стоимость операции

        .col-md-3
          ul.footer__menu
            li:a(href="#!") Оформление документов
            li:a(href="#!") Полезные статьи
            li:a(href="#!") Вопрос-ответ
            li:a(href="#!") Мнение специалистов
            li:a(href="#!") Отзывы пациентов
            li:a(href="#!") Контакты
            
        .col-md-3
      
    .footer__bottom
      .footer__copyright © 2018 CHIAO Медицинский центр. Все права защищены
      .footer__development Разработка сайта
        a(href="#!")
          img(src="./img/piarme.png", alt="")
  
