// Header
header.header
  .container
    
    .header__top
      div
        .header__top-address.hidden-xs
          i.ion-ios-location
          | г. Гуанчжоу, КНР
        .header__top-phone
          div
            i.ion-android-call
            a(href="tel:") +7 977 495 95 99
              span.hidden-xxs (г.Москва)
          div
            i.ion-android-call
            a(href="tel:") +86 136 2288 6224 
              span.hidden-xxs (г.Гуанчжоу)
        .header__top-time.hidden-sm.hidden-xs
          i.ion-android-time
          | Воскресенье - Пятница, с 8:00 до 19:00
      div.hidden-xs
        .header__top-mail
          i.ion-android-mail
          a(href="mailto:") info@kamneynet.com
    
    .header__bottom
      .header__logo
        a(href="#!")
          img(src="./img/logo.png", alt="")
      .header__bottom-btn
        a(href="#popup").btn.btn--small.btn--block.open-popup-link Заказать звонок
      .header__nav
        .header__nav-desctop
          nav
            ul
              li: a(href="#!") Главная
              li: a(href="#!") Удаление камней
              li: a(href="#!") Удаление полипов
              li: a(href="#!") Вопросы/Ответы
              li: a(href="#!") цена
              li: a(href="#!") Отзывы
              li
                a(href="#!").no--wrap О клинике
                  i.ion-chevron-down
                ul
                  li: a(href="#!") персонал
                  li: a(href="#!") врачи
              li: a(href="#!") Контакты
        .header__nav-mobile
          button#header-mobile.btn.btn--mobile
            span 
            b меню сайта 
            i.ion-chevron-down
          nav

.header-separator
