/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .form-free
    &__wrapper
      padding: 0
    &__form
      &>div
        width: 213px
        &+div
          margin-left: 30px
  .welcome
    padding-top: 70px
    &__img
      display: none
    &__wrapper
      padding-left: 0
      padding-right: 243px
      min-height: inherit
    &__carousel
      width: 213px
      padding: 10px 10px 0 10px
      &-bottom
        padding-left: 0
        padding-right: 0
        .slick-dots
          bottom: 70px
    &__content
      height: 270px
  .stones
    padding-bottom: 54px
    &__wrapper
      padding-left: 242px
      min-height: 243px
    &__carousel
      width: 212px
  .video-responsive
    padding-bottom: 175px
  .form-email
    &__wrapper
      padding-left: 73px
      padding-right: 62px
    &__form
      padding-top: 0
  .advantages
    &__block
      padding-left: 0
      padding-top: 100px
      text-align: center
      i
        left: 50%
        transform: translateX(-50%)
  .main-slider
    &__block
      height: 428px
      &-info
        display: none
      &-content
        top: 27px
        .div
          &1
            &--2
              top: 9px
          &2
            font-size: 24px
            &--2
              top: 60px
              font-size: 21px
          &3
            font-size: 30px
            top: 90px
            left: 81px
            &--2
              top: 97px
              font-size: 28px
          &4
            font-size: 41px
            top: 128px
            span
              height: 47px
              line-height: 47px
            &--2
              top: 132px
              font-size: 32px
              padding-left: 20px
              padding-right: 10px
              span
                height: 43px
                line-height: 43px
          &5
            font-size: 28px
            top: 185px
            &--2
              top: 183px
              font-size: 26px
          &7-btn
            top: 242px
            .btn
              width: 210px
  .header
    &__top
      &-phone, &-time
        margin-left: 16px
    &__bottom
      &-btn
        width: 131px
        .btn
          min-width: inherit
    &__nav
      margin-left: 182px
      margin-right: 175px
      &-desctop
        nav
          &>ul
            &>li
              &+li
                margin-left: 15px


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .form-free
    padding-top: 45px
    padding-bottom: 28px
    &__wrapper
      flex-direction: column
      &>div
        &+div
          margin-top: 30px
          margin-left: 0
      p
        text-align: center
    &__title
      white-space: normal
      text-align: center
    &__form
      padding-left: 47px
      padding-right: 47px
      &>div
        padding: 0 15px
        width: 50%
        &+div
          margin-left: 0
  .welcome
    padding-top: 60px
    &__carousel
      display: none
    &__wrapper
      padding-right: 0
      h1
        text-align: center
    &__introtext
      text-align: center
  .stones
    &__wrapper
      padding-left: 0
      min-height: inherit
    &__carousel
      display: none
  .form-email
    &__wrapper
      padding-left: 0px
      padding-right: 0px
      &>div
        &+div
          margin-left: 30px
    &__form
      &>div
        width: 220px
  .footer
    padding-top: 40px
  .main-slider
    &__block
      height: 428px
      &-info
        display: none
      &-content
        top: 27px
        .div
          &1
            &--2
              top: 9px
          &2
            font-size: 24px
            &--2
              top: 60px
              font-size: 21px
          &3
            font-size: 30px
            top: 90px
            left: 81px
            &--2
              top: 97px
              font-size: 28px
          &4
            font-size: 41px
            top: 128px
            span
              height: 47px
              line-height: 47px
            &--2
              top: 132px
              font-size: 32px
              padding-left: 20px
              padding-right: 10px
              span
                height: 43px
                line-height: 43px
          &5
            font-size: 28px
            top: 185px
            &--2
              top: 183px
              font-size: 26px
          &7-btn
            top: 242px
            .btn
              width: 206px
  .header
    &__nav
      &-desctop
        nav
          &>ul
            &>li
              &:nth-last-child(-n+3)
                display: none
      &-mobile
        display: block
        margin-left: 20px
        position: relative
        &.is-active
          nav
            display: block
        .btn
          color: $color-blue
          margin: 0
          height: auto
          line-height: normal
          min-width: inherit
          position: relative
          top: -5px
          span
            width: 13px
            background: $color-blue
            height: 2px
            margin-right: 5px
            &::before, &::after
              height: 2px
              background: $color-blue
              width: 13px
              top: -4px
            &::after
              bottom: -4px
              top: inherit
          b
            display: none
          .ion-chevron-down
            font-size: 10px
            color: #7e7e7e
            vertical-align: 3px
        nav
          position: absolute
          right: -20px
          width: 196px
          display: none
          background: $color-white
          border-radius: 7px
          box-shadow: 0 6px 38px rgba($color-black,.13)
          top: 38px
          padding: 15px 0
          &::before
            content: ''
            width: 0
            height: 0
            border-left: 8px solid transparent
            border-right: 8px solid transparent
            border-bottom: 8px solid $color-white
            position: absolute
            right: 17px
            top: -8px
          &>ul
            text-transform: uppercase
            font-size: 12px
            &>li
              position: relative
              padding: 9px 0
              &:nth-child(-n+5)
                display: none
              &:hover
                &>ul
                  display: block
              &>a, &>span
                text-decoration: none
                color: $primary-color
                display: block
                padding: 0 20px 0 28px
                i
                  color: #7e7e7e
                  font-size: 10px
                  display: inline-block
                  float: right
                  margin-top: 2px
              &>a
                &:hover, &:focus
                  color: $color-blue
              &.active
                &>a, &>span
                  color: $color-blue
              &>ul
                display: none
                margin-bottom: -9px
                &>li
                  display: block
                  padding: 9px 0
                  &>a, &>span
                    text-decoration: none
                    color: $primary-color
                    display: block
                    padding: 0 20px 0 50px
                  &>a
                    &:hover, &:focus
                      color: $color-blue
                  &.active
                    &>a, &>span
                      color: $color-blue

@media (max-width : 991px) and (min-width : 767px)
  .section
    &__carousel
      &-body
        &--2
          .slick-slide
            width: 220px !important
            margin-right: 30px !important
            &:last-child
              margin-right: 0 !important

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important

  .form__group
    margin-bottom: 20px
  .form-free
    padding-bottom: 35px
    &__wrapper
      &>div
        &+div
          margin-top: 24px
      p
        font-size: 16px
    &__title
      line-height: 1.2
    &__form
      padding-left: 50px
      padding-right: 50px
      flex-direction: column
      &>div
        padding: 0
        width: 100%
        &+div
          margin-left: 0
  .welcome
    padding-top: 75px
    padding-bottom: 40px
    &__content
      height: auto
    &__carousel
      display: block
      position: inherit
      width: 262px
      margin: 0 auto
      padding: 9px 9px 0 9px
      &-bottom
        .slick-dots
          bottom: 45px
  .section
    &__carousel
      &-body
        &--2
          .popup-youtube
            max-width: 450px
            margin-left: auto
            margin-right: auto
            &+p
              max-width: 450px
              margin-left: auto
              margin-right: auto
        &--3
          .section__carousel-comment
            max-width: 450px
            margin-left: auto
            margin-right: auto
  .form-email
    padding-bottom: 45px
    &__wrapper
      flex-direction: column
      &>div
        &+div
          margin-left: 0
          margin-top: 20px
    &__title
      text-align: center
      &+p
        text-align: center
        font-size: 15px
    &__form
      width: 100%
      max-width: 350px
      margin: 0 auto
      &>div
        width: 100%
  .footer
    &__bottom
      padding: 6px 0
      &>div
        padding: 6px 0
        height: auto
        line-height: inherit
    &__copyright, &__development
      text-align: center
      float: none
    &__btn
      display: flex
      max-width: 450px
      margin-left: auto
      margin-right: auto
      &>div
        padding-right: 15px
        width: 50%
        &+div
          padding-left: 15px
          padding-right: 0
          padding-top: 0
    &__social
      left: 50%
      width: 50%
      transform: translateX(-75px)
      position: relative
      font-size: 46px
      &-title
        margin-bottom: 0
      a
        vertical-align: inherit
        &+a
          margin-left: 46px
  .main-slider
    &__block
      height: 428px
      &-info
        display: none
      &-content
        top: 27px
        .div
          &1
            &--2
              top: 9px
          &2
            font-size: 19px
            top: 75px
            &--2
              top: 73px
              font-size: 17px
          &3
            font-size: 24px
            top: 106px
            left: 66px
            &--2
              top: 100px
              font-size: 23px
          &4
            font-size: 32px
            top: 136px
            left: 15px
            span
              height: 37px
              line-height: 37px
            &--2
              top: 129px
              font-size: 26px
              padding-left: 16px
              padding-right: 8px
              span
                height: 35px
                line-height: 35px
          &5
            font-size: 22px
            top: 180px
            &--2
              top: 168px
              font-size: 21px
          &6
            bottom: 60px
            &--2
              font-size: 14px
          &7-btn
            top: 242px
            .btn
              width: 206px
    &__date
      strong
        display: block
  .header
    &__top
      justify-content: center
      font-family: $font-roboto-b
      &-phone
        margin-left: 0
    &__bottom
      height: 137px
      &-btn
        width: 210px
    &__nav
      margin: 70px 0 0 0
      &-desctop
        nav
          &>ul
            &>li
              display: none
      &-mobile
        margin-left: 0
        .btn
          color: $primary-color
          span
            display: inline-block
            vertical-align: 6px
            margin-right: 10px
            position: relative
            height: 3px
            width: 16px
            border-radius: 3px
            background: $color-blue
            &::before, &::after
              position: absolute
              content: ''
              width: 100%
              left: 0
              top: -5px
              width: 16px
              border-radius: 3px
              height: 3px
              background: $color-blue
            &::after
              bottom: -5px
              top: inherit
          b
            display: inline-block
            margin-right: 10px
          i
            color: $color-blue
        nav
          font-weight: 500
          width: 290px
          right: -58px
          &::before
            right: 54px
          &>ul
            font-size: 16px
            &>li
              &:nth-child(-n+5)
                display: block
        &.is-active
          .btn
            color: $color-blue
    &-separator
      height: 175px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .visible-xxs
    display: block !important
  .hidden-xxs
    display: none !important
  .form-free
    &__form
      padding-left: 23px
      padding-right: 23px
  .welcome
    padding-top: 115px
    &__more
      p
        max-width: 165px
        line-height: 18px
        span
          display: block
          margin-top: 3px
      img
        left: 170px
        margin-top: 5px
  .section
    &__carousel
      &-body
        &--3
          padding-top: 10px
          .slick-dots
            margin-top: -20px
  .form-email
    &__form
      padding-left: 23px
      padding-right: 23px
  .footer
    &__logo, &__address
      max-width: 244px
      margin-left: auto
      margin-right: auto
    &__address
      margin-bottom: 15px
    &__logo
      margin-top: 0
      img
        margin-left: auto
        margin-right: auto
        display: block
    &__social
      font-size: 41px
  .main-slider
    &__block
      height: 428px
      &-info
        display: none
      &-content
        top: 35px
        .div
          &1
            padding-left: 7px
            padding-right: 7px
            &--2
              top: 1px
          &2
            font-size: 13px
            top: 80px
            &--2
              top: 80px
              font-size: 11px
          &3
            font-size: 16px
            top: 102px
            left: 50px
            &--2
              top: 98px
              font-size: 16px
              left: 48px
          &4
            font-size: 22px
            top: 121px
            left: 16px
            span
              height: 25px
              line-height: 25px
            &--2
              top: 118px
              font-size: 17px
              padding-left: 9px
              padding-right: 12px
              span
                height: 23px
                line-height: 23px
          &5
            font-size: 15px
            top: 151px
            &--2
              top: 146px
              font-size: 14px
          &6
            bottom: 34px
            &--2
              font-size: 14px
          &7-btn
            top: 247px
            left: 15px
            right: 15px
            .btn
              width: 100%
            &>div
              width: 100%
              &:last-child
                display: none
    &__date
      bottom: -70px
  .header
    &__bottom
      &-btn
        width: 134px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
