/*==========  Desktop First Method  ==========*/

/* 1920 */
@media only screen and (min-width : 1999px)
  /**/

@media only screen and (max-width : 1599px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1439px)
  /**/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px)
  .form-free
    &__wrapper
      padding: 0
    &__form
      &>div
        width: 213px
        &+div
          margin-left: 30px
  .welcome
    &__img
      display: none
    &__wrapper
      padding-left: 0
      padding-right: 243px
      min-height: inherit
    &__carousel
      width: 213px
      padding: 10px 10px 0 10px
      &-bottom
        padding-left: 0
        padding-right: 0
        .slick-dots
          bottom: 70px
    &__content
      height: 270px
  .stones
    padding-bottom: 54px
    &__wrapper
      padding-left: 242px
      min-height: 243px
    &__carousel
      width: 212px

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .form-free
    padding-top: 45px
    padding-bottom: 28px
    &__wrapper
      flex-direction: column
      &>div
        &+div
          margin-top: 30px
          margin-left: 0
      p
        text-align: center
    &__title
      white-space: normal
      text-align: center
    &__form
      padding-left: 47px
      padding-right: 47px
      &>div
        padding: 0 15px
        width: 50%
        &+div
          margin-left: 0
  .welcome
    padding-top: 60px
    &__carousel
      display: none
    &__wrapper
      padding-right: 0
      h1
        text-align: center
    &__introtext
      text-align: center
  .stones
    &__wrapper
      padding-left: 0
      min-height: inherit
    &__carousel
      display: none

/* Small Devices, Tablets */
@media only screen and (max-width : 767px)

  .animated
    transition-property: none !important
    transform: none !important
    animation: none !important

  .form__group
    margin-bottom: 20px
  .form-free
    padding-bottom: 35px
    &__wrapper
      &>div
        &+div
          margin-top: 24px
      p
        font-size: 16px
    &__title
      line-height: 1.2
    &__form
      padding-left: 50px
      padding-right: 50px
      flex-direction: column
      &>div
        padding: 0
        width: 100%
        &+div
          margin-left: 0
  .welcome
    &__content
      height: 480px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
  .form-free
    &__form
      padding-left: 23px
      padding-right: 23px
  .welcome
    &__more
      p
        max-width: 165px
        line-height: 18px
        span
          display: block
          margin-top: 3px
      img
        left: 170px
        margin-top: 5px

/* Custom, iPhone Retina */
@media only screen and (max-width : 319px)
  /**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/

/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  .container
    width: 750px

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  .container
    width: 970px

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  .container
    width: 1170px

/* 1440 */
@media only screen and (min-width : 1440px)
  /**/

@media only screen and (max-width : 1600px)
  /**/

/* 1920 */
@media only screen and (min-width : 1920px)
  /**/
